<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Gerenciamento Escola Krav Maga Caveira</title>
    <link rel="icon" th:href="@{/caveira-icon.png}">
    <style>
        <!-- Não funciona, por algum motivo -->
        body, html {
            height: 100%;
        }
        .vertical-center {
            min-height: 100%;
            display: flex;
            align-items: center;
        }
    </style>
</head>
<body>
    <h1>Sistema de Gerenciamento da Escola Krav Maga Caveira</h1>
    <p>Bem-vindo, usuário! Utilize este sistema para gerenciar os alunos, turmas e graduações.</p>
    <a th:href="@{/alunos}">Gerenciar Alunos</a>
</body>
</html>